/*color palette chosen from https://coolors.co/576f72-7d9d9c-e4dccf-f0ebe3-224c57*/
/*WEB PAGE CONTAINER & LAYOUT*/

body {
    justify-content: center;
    text-align: center;
    font-family: Montserrat, sans-serif;
    background-color: ghostwhite;
    min-width: 50vw;
    color: #224C57;
}

h2 {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 2rem;
}

p, li {
    font-weight: 600;
}

.bold {
    text-decoration: underline;
    text-transform: uppercase
}

.italics {font-style: italic;}

.container {
    display: flex;
    flex-direction: column;
}
.header {
    width: 100vw;
    position: fixed;
    top: 0;
    margin-bottom: 2vh;
    order: 1;
}

.main {
    width: 99vw;
    padding: 5vh 15vw;
    order: 2;
    display: flex;
    flex-direction: column;

}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main p {
    list-style-type: none;
    text-align: left;
    letter-spacing: 0.1rem;
    line-height: 1.75rem;
    margin: 1vh 0 1vh 0;

}

.main a {
    color: #445759;
    font-weight: 900;
    font-size: large;
    font-style: italic;
    text-decoration: none;
    transition: text-shadow 200ms ease-in-out;
}

.main a:hover {
    text-shadow: 0.05vw 0.05vh .2vh darkslategray;
}

.footer {
    width: 100vw;
    flex: auto;
    background-color: #7D9D9C;
    background-image: linear-gradient(#576F72, #7D9D9C);
    position: fixed;
    bottom: 0;
    color: #F0EBE3;
    font-size: .75rem;
    font-weight: bold;
    order: 3;
}

/*NAV BAR*/
/*help for all below was from Dropdown Navigation Menu with Flexbox <https://youtu.be/nhlF3wRPkug>*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    position: fixed;
    width: 100vw;
    background-color: #7D9D9C;
    background-image: linear-gradient(#7D9D9C, #576F72);
}

.nav_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
}

.nav_listheader {
    font-weight: 900;
    font-size: 2.5rem;
    list-style: none;
    margin-right: auto;
    cursor: pointer;
    color: #F0EBE3;
}

.nav_listitem {
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
    color: #F0EBE3;

}

.nav i {
    padding: -1rem;
}

.nav_listitem:hover ul, :focus ul {
    opacity: 1;
    visibility: visible;
}

.nav_listitem a {
    color: inherit;
    text-decoration: none;
}

.nav_listitemdrop {
    position: absolute;
    top: 4rem;
    left: -9rem;
    box-shadow: 0 0 5px #F0EBE3;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    width: 12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}

.nav_listitemdrop li {
    list-style: none;
    color: #224C57;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 250ms ease-in-out;
}

.nav_listitemdrop li:hover, :focus {
    background-color: #E4DCCF;
}

/*FOOTER*/
.footer_list {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1.5rem;
    margin: 0 2rem;
}

.footer_list ul, .footer_list li {
    list-style: none;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
}
.footer_list li a {
    color: #F0EBE3;
}

.footer_list li a:hover {
    text-shadow: 0 0 2px white;
    color: #576F72;
}

/*Site Map Main*/
.site_map {
    margin-top: 3rem;
}

.site_map_portfolio_li{
    list-style: none;
    padding: 0.5rem 4rem;
}

.site_map_li{
    list-style: none;
    margin: .75rem 0;
    align-self: center;
}

/*Contact Page*/
.main_form {
    display: inline-block;
    position: static;
    gap: 1rem;
    padding: 8vmax;
    margin: 0 auto;

}

.contact_form_text {
    text-align-all: center;
    list-style: none;
    font-weight: lighter;
    font-size: large;
}

.contact_form_listitem {
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 1vh 1vw;
    cursor: pointer;
    color: #576F72;
}

.contact_form_listitem label {
    text-align: left;
    display: flex;
}

.contact_form_listitem input, select {
    width: 50vmax;
    min-height: 1.75rem;
    cursor: pointer;
}

.contact_form_listitem input:required {
    border: solid 0.1rem lightcoral;
}


.contact_form_listitem textarea {
    width: 50vmax;
    height: 10vh;
}

.contact_form_list button {
    width: 5rem;
    height: 4vh;
    font-weight: bolder;
    font-size: large;
    color: #F0EBE3;
    background-color: #576F72;
    cursor: pointer;
    transition: background-color 300ms, width 300ms ease-in-out;
}

.contact_form_list button:hover, :focus {
    color: #576F72;
    background-color: #F0EBE3;
    box-shadow: 0 0 10px #576F72;
    width: 50vmax;
}

.form_invalid {
    color: red;
    font-weight: bold;
    margin-top: 0.75rem;
    font-size: 0.7rem;
    visibility: hidden;
}

input.invalid {
    border: 1px solid red;
    color: red;
    font-weight: bold;
}

.submitted {
    visibility: hidden;
    font-weight: bold;
}

/*index.html*/
.index_who_am_i, .index_walkthrough, .index_purpose {
    padding: 4vh 0 4vh 0;
    margin: 2vh 0 2vh 0;

}

.index_who_am_i ul, .index_walkthrough ul, .index_purpose ul {
    columns: 2;
    display: inline-block;
    justify-content: center;
    padding: 2vh 6vw 2vh 6vw;

}

.index_who_am_i li, .index_walkthrough li, .index_purpose li {
    list-style-type: none;
    text-align: left;
    font-size: medium;
    letter-spacing: 0.075rem;
    line-height: 2.0rem;
    margin-bottom: 0.5vh;

}

/*resume_main.html*/
/*Relevant Experience, Education, Skills*/
.resume_relevant_exp, .education, .skills_container {
    display: flex;
    flex-direction: column;
    padding: 4vh 2vh 4vh 2vh;
    margin: 2vh 0 2vh 0;
    border-top: thick double #576F72;


}

.resume_relevant_exp h1 , .education h1, .skills_container h1{
    padding: 4vh 0 6vh 0;
    margin-bottom: 1vh;
    font-size: 3.5rem;

}

.resume_relevant_exp ul, .education ul, .skills_container ul{
    columns: 2;
    justify-content: center;
    padding: 2vh 4vw 2vh 6vw;
    display: flex;
    flex-direction: column;

}

.resume_relevant_exp li, .education li, .skills_container li {
    text-align: left;
    font-size: medium;
    letter-spacing: 0.075rem;
    line-height: 2.0rem;
    margin-bottom: 0.5vh;
    list-style: square;

}

.resume_relevant_exp h3, .education h3 {
    font-weight: 600;
    font-size: 1.75rem;
    text-align: left;
    margin-bottom: 1vmax;
}

.resume_relevant_exp h4, .education h4 {
    margin-top: 0.75rem;
    font-weight: 600;
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;
    color: #224C57;

}

.resume_relevant_exp h2, .education h2 {
    margin-bottom: 4vh;
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
}

.gis_dev, .gis_analyst,
.mngr_prod,
.cad_tech,
.athabasca_u,
.bgis, .autocad,
.skills{
    display: flex;
    align-content: center;
    flex-direction: column;
    height: auto;
}


/* portfolio_{*} */
/*credit to accordion style: https://csslayout.io/accordion/*/

.my_info {
    margin: 4rem 0;
    width: 50vw;
    align-self: center;
}

.drop_d_box {
    /* Border */
    margin-bottom: 2rem;
    border-radius: 4px;
    width: 50vw;
    align-self: center;
}

.drop_d_box_item {
    margin-top: 1rem;
    align-items: center;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 400ms;
    border: 2px solid #224C57;
    border-radius: .25rem;
    background-color: whitesmoke;
}

.drop_d_box_content {
    margin-top: -1rem;
    padding: 18px;
    background-color: whitesmoke;
    display: none;
    overflow: hidden;
    border:  2px solid #224C57;
    border-radius: 0 0 .25rem .25rem;
}

.drop_d_box h3 {
    color: #224C57;
}

.drop_d_box button {
    background-color: white;
}

.drop_d_box_content ul {
    text-align: left;
    padding-left: 3rem;
    margin: 0.5rem;
}

.drop_d_box_content li {
    margin-top: 0.5rem;
}

/*portfolio*/
/**/

.portfolio {
    display: inline-block;
    padding: 3rem 0;
    margin: 3rem 0;
}

.highlight {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    align-items: center;
    justify-items: center;
}

.code_container {
    overflow-x: auto;
    height: 50vh;
    width: 75vw;
    border: .5rem solid grey;
    border-radius: 1rem;
    box-shadow: 10px 10px 30px -1px rgba(0, 6, 7, 0.52);
    background-color: #282b2e;
}

.code_container::-webkit-scrollbar-thumb {
    background-color: #656464;
}

.code_container::-webkit-scrollbar {
    width: .4rem;
}

.code_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

pre {
    padding-left: 1rem;
    text-align: left;
    color: grey;
    font-size: 1.2rem;

}